<body class="main-container">
  <div class="main-intern-list">
    <mat-list class="main-intern-list-items" role="list">
      <mat-list-item role="listitem"><button mat-raised-button routerLink="/listar">Listar Pessoas</button></mat-list-item>
      <mat-list-item role="listitem"><button mat-raised-button routerLink="/cadastrar">Cadastrar Pessoa</button></mat-list-item>
      <mat-list-item role="listitem"><button mat-raised-button routerLink="/buscar">Buscar Pessoa por CPF</button></mat-list-item>
    </mat-list>
  </div>
  <div class="content"><router-outlet></router-outlet></div>
</body>


